* {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 40px;
}

header > div > p {
  text-align: center;
  font-weight: bolder;
}

#player-one {
  visibility: visible;
}

#player-two {
  visibility: visible;
}

header > h1, #game-enter > h1 {
  color:  #ea2d0f;
}
#notifications {
  width: 50%;
  height: 40px;
  font-size: 18px;
  text-align: center;
}

.noti {
  visibility: visible;
}

#board {
  visibility: visible;
  width: 474px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.container {
  border: 1px solid black;
  margin: 2px;
  width: 150px;
  height: 150px;
  margin: 0 !important;
  font-size: 100px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#spot1, #spot2, #spot3 {
  border-top: none;
}

#spot1, #spot4, #spot7 {
  border-left: none;
}

#spot3, #spot6, #spot9 {
  border-right: none;
}

#spot7, #spot8, #spot9 {
  border-bottom: none;
}

footer {
  margin-top: 40px;
}
#reset {
  background: #fff;
  padding: 10px;
  border: 1px solid black;
  font-size: 16px;
  border-radius: 5px;
}

#reset:hover {
  background: #e9e9e9;
}

header, #notifications, #board, footer, header > div > p {
  visibility: hidden;
}

#game-enter {
  visibility: visible;
  position: absolute;
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 0px 10px 3px #eee;
}

#game-enter > form {
  width: 100%;
}

#getnames > p {
  margin: 10px 0px;
}

#getnames > input {
  border: 1px solid black;
  text-align: center;
}

#start-game {
  margin: 10px 0px;
  width: 100%;
  display: block;
  background: #fff;
  border: 1px solid black;
  border-radius: 5px;
}

#start-game:hover {
  background: #e9e9e9;
}

@media (max-height: 650px) {
  #board {
    width: 306px;
  }
  .container {
    height: 100px;
    width: 100px;
  }
}
@media (max-height: 510px) {
  header {
    margin-bottom: 0px;
  }

}

@media (max-height: 480px) {
  #board {
    width: 231px;
  }
  .container {
    height: 75px;
    width: 75px;
    font-size: 50px;
  }

  header > h1 {
    font-size: 16px;
  }
  header > div > p {
    font-size: 10px;
  }
  #player-one, #player-two {
    margin-top: 5px;
  }
  .noti {
    font-size: 10px;
  }
  #notifications {
    height: 20px;
  }

  #reset {
    padding: 4px;
  }



}
@media (max-height: 310px) {
  header > h1 {
    font-size: 16px;
  }
  header > div > p {
    font-size: 10px;
  }
  #player-one, #player-two {
    margin-top: 5px;
  }
  .noti {
    font-size: 10px;
  }
  #notifications {
    height: 20px;
  }

  #board {
    width: 156px;
  }
  .container {
    width: 50px;
    height: 50px;
  }
  #reset {
    padding: 4px;
  }
}

@media (max-width: 500px) {
  header {
    width: 100%;
  }

  #player-one {
    margin-left: 10px;
  }
  #player-two {
    margin-right: 10px;
  }
}
